.sidebarMenuItem {
    height: 100px;
    padding: 30px;
}

.sidebar {
    height: 100vh;
    background: #aaa;
    padding: 0;
    padding-top: 50px;
}

.active {
    background: #ddd;
    color :#fff;
}

.menuText {
    margin: auto;
}

.sidebarMenuItem:hover {
    background: #ddd;
    color :#fff;
}