.sidebarBtn {
    position: relative;
    top: 5px;
}

.navbar-brand {
    position: relative;
    bottom: 5px;
}

.username {
    position: relative;
    top: 5px;
}

.sidebar {
    height: 100vh;
    background: #aaa;
    padding: 0;
}