<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <form>
                <div style="display: flex;">
                    <i class="fa fa-search fa-2x mr-3" style="color: #555; position: relative; top: 5px;" aria-hidden="true"></i>
                    <input type="text" name="search" (ngModelChange)="searchList($event)" [(ngModel)]="searchQuery" class="form-control form-control-lg" placeholder="Search...">
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="searchQuery === undefined || searchQuery === ''; else search">
    <div *ngIf="selectedTab==='employees'" class="container-fluid mt-5">
        <div class="row mb-3">
            <div *ngFor="let emp of data" class="col-md-3 col-sm-12">
                <div class="card" (click)="showEmployee(emp.employee_id)">
                    <img class="card-img-top" src="https://acc.edu.ai/assets/images/no-staff-image.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ emp.firstName }} {{ emp.lastName }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ emp.role }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="selectedTab === 'departments'" class="container-fluid mt-5">
        <div class="row mb-3">
            <div *ngFor="let dept of data" class="col-md-3 col-sm-12">
                <div class="card" (click)="showDepartment(dept.id)">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBLxi3Wnr4Gys5z21qOADzNiMbI7j6jWUZJ9s9-LUq6kY7YJl2iQ&s" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ dept.name }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="card" data-toggle="modal" data-target="#newDepartmentModal">
                    <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/buttons/512/Icon_31-512.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-muted">Add a new department</h5>
                    </div>
                </div>
            </div>
        </div>
        <app-new-department-modal></app-new-department-modal>
    </div>
</div>
<ng-template #search>
    <div *ngIf="selectedTab === 'employees'" class="container-fluid mt-5">
        <div class="row mb-3">
            <div *ngFor="let emp of queryData" class="col-md-3 col-sm-12">
                <div class="card" (click)="showEmployee(emp.employee_id)">
                    <img class="card-img-top" src="https://acc.edu.ai/assets/images/no-staff-image.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ emp.firstName }} {{ emp.lastName }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ emp.role }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div *ngIf="selectedTab === 'departments'" class="container-fluid mt-5">
        <div class="row mb-3">
            <div *ngFor="let dept of queryData" class="col-md-3 col-sm-12">
                <div class="card" (click)="showDepartment(dept.id)">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBLxi3Wnr4Gys5z21qOADzNiMbI7j6jWUZJ9s9-LUq6kY7YJl2iQ&s" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ dept.name }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</ng-template>